body {
  margin: 0;

  header {
    width: 100vw;
    background-color: #D3FD60;
  }

  .twoColumns {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    box-sizing: border-box;

    height: max-content;
    width: auto;

    padding: 0 5%;
  }
}